@inherits RazorLight.TemplatePage<Reddit2Kindle.Functions.Contracts.Templates.LinkPostTemplate>

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Post.Title</title>
    @{ await IncludeAsync("Templates.Styles.Css"); }
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1 id="@(Model.Index ?? "")">@Model.Post.Title</h1>
        <span>@Model.Post.Author</span>
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.Article))
    {
        <div class="well">
            @Raw(Model.Article)
        </div>
    }
    @foreach (var comment in Model.Post.Comments.GetTop(showMore: false))
    {
        await IncludeAsync("Templates.Partials.QuoteComments", (Model.Post.Author, comment));
    }
</div>
</body>
</html>